.footer {
    background: #eee;
    left: 0;
    bottom: 0;
    right: 0;
    top: auto;
    text-align: center;
    position: fixed;
    display: block;
    padding: 1em;
    z-index: 1;
    font-size: 1em;
    line-height: 1;
}