
.grid {
    width: 100%;
    display: table;
    border-collapse:separate;
    border-spacing:0px;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }   

    .item {
        display: flex;
        flex: 1;
        margin: 0 0 5px 0;
        align-items: center;
        vertical-align: middle;
    }

    .grid-row {
        gap: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

}


@media screen and (max-width: 600px) {
    .grid {
        .grid-row {
            display: block;
            width: 100%;
            margin:0;
        }
            
        .item {
            display: block;
            width: 100%;
            margin: 0 0 5px 0;
        }  
    }
}

