:root {
  --progress-point-incomplete: rgb(237, 239, 240);
  --progress-bar-fill: hsl(223, 14%, 20%);;
  --progress-bar-unfill: rgb(237, 239, 240);
  --progress-point-complete: hsl(223, 14%, 20%);
  --progress-label-color: var(--progress-bar-fill);
  --progress-circle-stroke-width: 10;
  --progress-bar-height: 10px;
}

.progress-point-enabled {
  --progress-circle-stroke-width: 5;
  --progress-bar-height: 5px;
}

.progress {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 100%;
  margin: 0 auto;
}

.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--progress-bar-unfill);
  width: 100%;
  height: var(--progress-bar-height);
  border-radius: calc(2*var(--progress-bar-height));
  transform: translate(-50%, -50%);
  
  &__fill {
    display: block;
    background: var(--progress-bar-fill);
    height: 100%;
    transition: all .2s ease-in;
    border-radius: calc(2*var(--progress-bar-height));
  }
}

.progress.circular.progress-step {
  margin-top: 1em;
}

.progress.progress-step .progress-ring-dot {
  width: 2rem;
  height: 2rem;
  counter-increment: steps;

  &.point--complete,
  &.point--active {
    color: var(--progress-point-incomplete);
  }

  &::before {
      content: counter(steps);
      font-weight: 500;
      left: 50%;
      top: 50%;
      position: absolute;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  }
}

.progress.progress-step .point {
  counter-increment: steps;

  .bullet {
    width: 2rem;
    height: 2rem;
  }

  &.point--complete .bullet,
  &.point--active .bullet {
    color: var(--progress-point-incomplete);
  }

  .bullet::before {
    content: counter(steps);
    font-weight: 500;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.progress.progress-step.step-complete-checkmark .point {
  &.point--active .bullet::before,
  &.point--complete .bullet::before {
    content: '\2713'
  }
}

.progress.progress-step.step-complete-checkmark .progress-ring-dot {
  &.point--active::before,
  &.point--complete::before {
    content: '\2713'
  }
}

.point {
  position: relative;
  color: var(--progress-label-color);
  cursor: pointer;
  display: flex;
  
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   width: 120px;
  //   height: 120px;
  //   border-radius: 100%;
  //   transform: translate(-50%, -50%);
  //   transition: all 0.3s ease;
    
  //   .show-radius & {
  //     background: rgba(#000, 0.1);
  //   }
  // }

  &--complete,
  &--active {
    color: var(--progress-point-complete);
  }
}

.bullet {
  z-index: 1;
  position: absolute;
  background: var(--progress-point-incomplete);
  width: 1em;
  height: 1em;
  border-radius: 100%;
  transition: 0.3s ease;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  
  .point--complete &,
  .point--active & {
    background: var(--progress-point-complete);
  }

  .point--active & {
    outline: 3px solid var(--progress-point-incomplete);
    box-shadow: 0 2px 4px rgba(#000, 0.2),
                0 0 0 4px var(--progress-point-complete);
  }
}

.label {
  position: relative;
  left: 50%;
  padding-bottom: 70px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  transform: translateX(-50%);
  text-align: center;
}

.progress-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-clip: padding-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
}

.progress.circular{
  justify-content: center;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring-circle-bg {
  fill: none;
  stroke: var(--progress-bar-unfill);
  stroke-width: var(--progress-circle-stroke-width);
}

.progress-ring-circle {
  fill: none;
  stroke: var(--progress-bar-fill);
  stroke-width: var(--progress-circle-stroke-width);
  transition: stroke-dashoffset 0.2s ease;
  stroke-linecap: round;

  &:hover {
    stroke-width: calc(var(--progress-circle-stroke-width)*1.1);
  }
}

.progress-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.progress-ring-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s ease;
  width: 1em;
  height: 1em;
  transform: translateX(calc(-50% + var(--XOffset))) translateY(calc(-50% + var(--YOffset)));
  -webkit-transform: translateX(calc(-50% + var(--XOffset))) translateY(calc(-50% + var(--YOffset)));
  -moz-transform: translateX(calc(-50% + var(--XOffset))) translateY(calc(-50% + var(--YOffset)));
  -ms-transform: translateX(calc(-50% + var(--XOffset))) translateY(calc(-50% + var(--YOffset)));
  -o-transform: translateX(calc(-50% + var(--XOffset))) translateY(calc(-50% + var(--YOffset)));
  border-radius: 50%;
  background-color: var(--progress-point-incomplete);

  &.point--complete,
  &.point--active {
    background: var(--progress-point-complete);
  }

  &.point--active {
    outline: 3px solid var(--progress-point-incomplete);
    box-shadow: 0 2px 4px rgba(#000, 0.2),
                0 0 0 4px var(--progress-point-complete);
  }
}