:root {
  --progress-point-color: hsl(223, 14%, 20%);;
  --progress-bar-fill: hsl(223, 14%, 20%);;
  --progress-bar-unfill: rgb(237, 239, 240);
}

.progress {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 100%;
  margin: 0 auto;
}

.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--progress-bar-unfill);
  width: 100%;
  height: 3px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  
  &__fill {
    display: block;
    background: var(--progress-bar-fill);
    height: 100%;
    transition: all .2s ease-in;
  }
}

.point {
  position: relative;
  color: var(--progress-point-color);
  cursor: pointer;
  display: flex;
  
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   width: 120px;
  //   height: 120px;
  //   border-radius: 100%;
  //   transform: translate(-50%, -50%);
  //   transition: all 0.3s ease;
    
  //   .show-radius & {
  //     background: rgba(#000, 0.1);
  //   }
  // }

  &--complete,
  &--active {
    color: var(--progress-point-color);
  }
}

.bullet {
  z-index: 1;
  position: absolute;
  background: var(--progress-point-color);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transition: 0.3s ease;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  
  .point--complete &,
  .point--active & {
    background: var(--progress-bar-unfill);
    box-shadow: 0 2px 4px rgba(#000, 0.2),
                0 0 0 3px var(--progress-point-color);
  }
  
  .point--active & {
    box-shadow: 0 2px 4px rgba(#000, 0.2),
                0 0 0 10px var(--progress-point-color);
  }
}

.label {
  position: relative;
  left: 50%;
  padding-bottom: 70px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  transform: translateX(-50%);
  text-align: center;
}

.progress-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-clip: padding-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
}

.progress.circular{
  justify-content: center;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring-circle-bg {
  fill: none;
  stroke: var(--progress-bar-unfill);
  stroke-width: 8;
}

.progress-ring-circle {
  fill: none;
  stroke: var(--progress-bar-fill);
  stroke-width: 8;
  transition: stroke-dashoffset 0.5s ease;
  stroke-linecap: round;

  &:hover {
    stroke-width: 10;
  }
}

.progress-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
