/* -------------------------------- 
Basic Style
-------------------------------- */
$bc-bg-active-color: hsl(223, 14%, 20%);
$bc-txt-active-color: rgb(41, 98, 255);
$bc-bg-color: #edeff0;
$bc-badge-bg-color: #f8f8f8;
$bc-badge-txt-color: hsl(223, 14%, 20%);

.sl-breadcrumb a {
    text-decoration: none;
}

.sl-breadcrumb, .sl-multi-steps {
    width: 90%;
    max-width: 768px;
    padding: 0.5em 1em;
    background-color: $bc-bg-color;
    border-radius: .25em;
}

.sl-breadcrumb::after, .sl-multi-steps::after {
    clear: both;
    content: "";
    display: table;
}

.sl-breadcrumb li, .sl-multi-steps li {
    display: inline-block;
    margin: 0.5em 0;
}

.sl-breadcrumb li::after, .sl-multi-steps li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #959fa5;
}

.sl-breadcrumb li:last-of-type::after, .sl-multi-steps li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
}

.sl-breadcrumb li > *, .sl-multi-steps li > * {
    /* single step */
    display: inline-block;
    font-size: 1.4rem;
    color: #2c3f4c;
}

.sl-breadcrumb li.active > *, .sl-multi-steps li.active > * {
    /* selected step */
    color: $bc-txt-active-color;
}

.sl-breadcrumb.custom-separator li::after, .sl-multi-steps.custom-separator li:not(:last-child)::after {
    /* replace the default separator with a custom icon */
    content: attr(data-separator);
}

.sl-breadcrumb.bc-center {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    text-align: center;
}


@media only screen and (min-width: 768px) {
    .sl-breadcrumb, .sl-multi-steps {
        padding: 0 1.2em;
    }

    .sl-breadcrumb li, .sl-multi-steps li {
        margin: 1.2em 0;
    }

    .sl-breadcrumb li::after, .sl-multi-steps li::after {
        margin: 0 1em;
    }

    .sl-breadcrumb li > *, .sl-multi-steps li > * {
        font-size: 1.6rem;
    }
}

/* -------------------------------- 

Triangle breadcrumb

-------------------------------- */
@media only screen and (min-width: 768px) {
    .sl-breadcrumb.triangle {
        /* reset basic style */
        background-color: transparent;
        padding: 0;
    }

    .sl-breadcrumb.triangle li {
        position: relative;
        padding: 0;
        margin: 4px 4px 4px 0;
    }

    .sl-breadcrumb.triangle li:last-of-type {
        margin-right: 0;
    }

    .sl-breadcrumb.triangle li > * {
        position: relative;
        padding: 1em .8em 1em 2.5em;
        color: #2c3f4c;
        background-color: $bc-bg-color;
        /* the border color is used to style its ::after pseudo-element */
        border-color: $bc-bg-color;
    }

    .sl-breadcrumb.triangle li.active > * {
        /* selected step */
        color: #ffffff;
        background-color: $bc-bg-active-color;
        border-color: $bc-bg-active-color;
    }

    .sl-breadcrumb.triangle li:first-of-type > * {
        padding-left: 1.6em;
        border-radius: .25em 0 0 .25em;
    }

    .sl-breadcrumb.triangle li:last-of-type > * {
        padding-right: 1.6em;
        border-radius: 0 .25em .25em 0;
    }
   
    .sl-breadcrumb.triangle li::after, .sl-breadcrumb.triangle li > *::after {
        /* 
            li > *::after is the colored triangle after each item
            li::after is the white separator between two items
        */
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        height: 0;
        width: 0;
        /* 48px is the height of the <a> element */
        border: 24px solid transparent;
        border-right-width: 0;
        border-left-width: 20px;
    }

    .sl-breadcrumb.triangle li::after {
        /* this is the white separator between two items */
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #ffffff;
        /* reset style */
        margin: 0;
    }

    .sl-breadcrumb.triangle li > *::after {
        /* this is the colored triangle after each element */
        z-index: 2;
        border-left-color: inherit;
    }

    .sl-breadcrumb.triangle li:last-of-type::after, .sl-breadcrumb.triangle li:last-of-type > *::after {
        /* hide the triangle after the last step */
        display: none;
    }

    .sl-breadcrumb.triangle.custom-separator li::after {
        /* reset style */
        background-image: none;
    }

    @-moz-document url-prefix() {
        .sl-breadcrumb.triangle li::after,
        .sl-breadcrumb.triangle li > *::after {
            /* fix a bug on Firefix - tooth edge on css triangle */
            border-left-style: dashed;
        }
    }
}

/* -------------------------------- 

Multi steps indicator 

-------------------------------- */
@media only screen and (min-width: 768px) {
    .sl-multi-steps {
        /* reset style */
        background-color: transparent;
        padding: 0;
    }

    .sl-multi-steps li {
        position: relative;
        float: none;
        margin: 0.4em 40px 0.4em 0;
    }

    .sl-multi-steps li:last-of-type {
        margin-right: 0;
    }

    .sl-multi-steps li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        content: '';
        height: 4px;
        background: $bc-bg-color;
        /* reset style */
        margin: 0;
    }

    .sl-multi-steps li.visited::after {
        background-color: $bc-bg-active-color;
    }

    .sl-multi-steps li > *, .sl-multi-steps li.active > * {
        position: relative;
        color: #2c3f4c;
    }

    .sl-multi-steps.custom-separator li::after {
        /* reset style */
        height: 4px;
        background: $bc-bg-color;
    }

    .sl-multi-steps.text-center li::after {
        width: 100%;
        top: 50%;
        left: 100%;
        -webkit-transform: translateY(-50%) translateX(-1px);
        -moz-transform: translateY(-50%) translateX(-1px);
        -ms-transform: translateY(-50%) translateX(-1px);
        -o-transform: translateY(-50%) translateX(-1px);
        transform: translateY(-50%) translateX(-1px);
    }
    
    .sl-multi-steps.text-center li > * {
        z-index: 1;
        padding: .6em 1em;
        border-radius: .25em;
        background-color: $bc-bg-color;
    }
   
    .sl-multi-steps.text-center li.active > *, .sl-multi-steps.text-center li.visited > * {
        color: #ffffff;
        background-color: $bc-bg-active-color;
    }

    .sl-multi-steps.text-top li, .sl-multi-steps.text-bottom li {
        width: 80px;
        text-align: center;
    }

    .sl-multi-steps.text-top li::after, .sl-multi-steps.text-bottom li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        left: 50%;
        /* 40px is the <li> right margin value */
        width: calc(100% + 40px);
    }

    .sl-multi-steps.text-top li > *::before, .sl-multi-steps.text-bottom li > *::before {
        /* this is the spot indicator */
        content: '';
        position: absolute;
        z-index: 1;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: $bc-bg-color;
    }

    .sl-multi-steps.text-top li.visited > *::before,
    .sl-multi-steps.text-top li.active > *::before, .sl-multi-steps.text-bottom li.visited > *::before,
    .sl-multi-steps.text-bottom li.active > *::before {
        background-color: $bc-bg-active-color;
    }

    .sl-multi-steps.text-top li::after {
        /* this is the line connecting 2 adjacent items */
        bottom: 4px;
    }
    .sl-multi-steps.text-top li > * {
        padding-bottom: 20px;
    }

    .sl-multi-steps.text-top li > *::before {
        /* this is the spot indicator */
        bottom: 0;
    }

    .sl-multi-steps.text-bottom li::after {
        /* this is the line connecting 2 adjacent items */
        top: 3px;
    }

    .sl-multi-steps.text-bottom li > * {
        padding-top: 20px;
    }

    .sl-multi-steps.text-bottom li > *::before {
        /* this is the spot indicator */
        top: 0;
    }
}
/* -------------------------------- 

Add a counter to the multi-steps indicator 

-------------------------------- */
.sl-multi-steps.count li {
    counter-increment: steps;
}

.sl-multi-steps.count li > *::before {
    content: counter(steps) " - ";
}

@media only screen and (min-width: 768px) {
    .sl-multi-steps.text-top.count li > *::before,
    .sl-multi-steps.text-bottom.count li > *::before {
        /* this is the spot indicator */
        content: counter(steps);
        height: 26px;
        width: 26px;
        line-height: 26px;
        font-size: 1.4rem;
        color: #ffffff;
    }

    .sl-multi-steps.text-top.count li:not(.active) em::before,
    .sl-multi-steps.text-bottom.count li:not(.active) em::before {
        /* steps not visited yet - counter color */
        color: #2c3f4c;
    }

    .sl-multi-steps.text-top.count li::after {
        bottom: 11px;
    }

    .sl-multi-steps.text-top.count li > * {
        padding-bottom: 34px;
    }

    .sl-multi-steps.text-bottom.count li::after {
        top: 11px;
    }

    .sl-multi-steps.text-bottom.count li > * {
        padding-top: 34px;
    }
}