.accordian {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.accordian-card {
    flex: 0 0 100%;
}
.accordian-heading {
    display: flex;
    border-bottom: 1px solid #dadada;
}
.accordian-heading a{
    color: #000;
    width: 100%;
    padding: 5px 15px;
    background-color: whitesmoke;;
    transition: 0.3s all ease-in;
    position: relative;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 15px 20px;
}
.accordian-heading a:hover,
.accordian-card.open .accordian-heading > a{
    text-decoration: none;
    color: #525151;
    background-color: #d4d4d4;
}
.accordian-heading a:after, 
.accordian-heading a:before{    
    position: absolute;
    display: block;
    content: "";
    height: 12px;
    width: 4px;
    border-radius: 0.3em;
    transform-origin: 50%;
    top: 50%;
    right: 3%;
    transition: all 0.3s ease-in-out;
    background-color: #6c757d;
}

.accordian-heading a:after {
    transform: translate(-75%, -50%) rotate(-45deg);
}

.accordian-heading a:before {
    transform: translate(75%, -50%) rotate(45deg);
}


.accordian-card.open {
    a {
        &:after {
            height: 18px;
            transform: translate(0%, -50%) rotate(45deg);
        }

        &:before {
            height: 18px;
            transform: translate(0%, -50%) rotate(-45deg);
        }
    }

    .accordian-body {
        visibility: visible;
        opacity: 1;
        background: #fff;
        grid-template-rows: 1fr;
        padding: 10px;
    }
}


.accordian-caret {
    margin-left: auto;
}

.accordian-body{
    display: grid;
    grid-template-rows: 0fr;
    background-color: rgba(0,0,0,0.05);
    overflow: hidden;
    opacity: 0;
    transition: grid-template-rows 0.2s ease-in-out, opacity 0.6s ease;
    -o-transition: grid-template-rows 0.2s ease-in-out, opacity 0.6s ease;
    -webkit-transition: grid-template-rows 0.2s ease-in-out, opacity 0.6s ease;
    visibility: hidden;

    > * {
        overflow: hidden;
    }
}
