@use "settings" as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 10px base for rem calculations */
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background: white;
    width: 100%;
    height: 100%;
}

#page-wrapper {
    margin-top: 90px; /* Height of header (75px) + extra margin */
}

#app {
    overflow-y: auto;
    //height: calc(100vh - 65px); /* Dynamic height */
}

header {
    box-sizing: content-box;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

@media screen and (max-width: 767px) {
    #page-wrapper {
        margin-top: 60px;
    }
}

