@use "settings" as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Public Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: $base-size;
    background: white;
}

html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-wrapper {
    margin-top: 90px; /* Height of header (75px) + extra margin */
}

#app {
    overflow-y: auto;
    //height: calc(100vh - 65px); /* Dynamic height */
}

header {
    box-sizing: content-box;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

@media screen and (max-width: 767px) {
    #page-wrapper {
        margin-top: 60px;
    }

    body {
        font-size: $mobile-size;
    }
}

